{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}
{% block content %}
        <section id="next-section" class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12" style="">
            <h2 class="mt0 mx-auto" style="text-align: center; color: #17a2b8;">votre site internet sur-mesure </h2>  
            <p>Un site internet, c’est un formidable outil de communication. A condition qu'il témoigne du professionnalisme de votre entreprise. Voilà pourquoi le développement de votre site web nécessite un travail en amont, pour bien cerner l'univers de votre structure et l’image que vous souhaitez défendre.</p>
            <p>Ensemble, nous prendrons donc le temps nécessaire d'analyse de vos besoins. Parce votre entreprise est unique, votre site internet doit l'être également.</p>
            <p>En me confiant la création de votre site internet, vous aurez donc l'assurance d'un véritable support de communication qui vous aidera à booster la réputation de votre entreprise.</p>
          </div>
        </div>
        <!-- END row -->
      </div>
    </section>
    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center mb50">
            <h2 class="mt0" style="text-align: center; color: #17a2b8;">Mes services de développeur web</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p><i class="far fa-window-restore fa-5x"></i></p>
            <h3 class="mt0 mb40"><a href="#" class="hover-reverse">Création de site Internet</a></h3>
            <p>Construisez un site Internet professionnel vitrine, boutique en ligne ou applicatif 100% personnalisé et compatible mobile. En savoir plus sur la création de site Internet.<p>
          </div>
          <div class="col-md-4">
            <p><i class="fas fa-code fa-5x"></i></p>
            <h3 class="mt0 mb40"><a href="#" class="hover-reverse">Développement web</a></h3>
            <p>Intervenez sur votre site pour le refondre, corriger des erreurs, ou y ajouter de nouvelles fonctionnalités. Découvrir les prestations de développement web.</p>
          </div>
          <div class="col-md-4">
            <p><i class="fas fa-laptop-code fa-5x"></i></p>
            <h3 class="mt0 mb40"><a href="#" class="hover-reverse">Référencement naturel (SEO)</a></h3>
            <p>Améliorez efficacement la position de votre site Internet sur Google Grâce au référencement naturel (SEO). Découvrir les prestations SEO.he way.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section probootstrap-bg" style="background-image: url(img/hero_bg_2.jpg);" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center probootstrap-animate" data-animate-effect="fadeIn">
              <h2 class="mt0 probootstrap-white-color">Besoin de plus d'information ?</h2>
              <p class="mb0"><a target="_blank" href="img/CV Johan DESWELLE.pdf" class="btn btn-ghost btn-ghost-white btn-lg">Cliquez pour voir Mon CV!</a></p>
            </div>
          </div>
        </div>
    </section>

    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center mb50">
            <h2 class="mt0">Sur le Blog</h2>
          </div>
        </div>
        {% for post in posts %}
          {% if loop.index == 1 %}
            <div class="col-md-6">
              <p><img src="img/hero_bg_1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></p>
              <h3 class="mt0">
                <a href="index.php?action=post&amp;id={{post.id}}" class="hover-reverse">{{post.title }}</a>
              </h3>
              <p class="text-mute mb40">{{post.modificationDate}} &bull; by {{post.author}}</p>
            </div>
            <div class="col-md-6">
              <ul class="probootstrap-blog-list">
          {% else %}
              <li>
                <a href="index.php?action=post&amp;id={{post.id}}">
                  <figure class="probootstrap-image"><img src="img/img_1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                  <div class="probootstrap-text">
                    <h3 class="mt0 mb10">
                      <a href="index.php?action=post&amp;id={{post.id}}" class="hover-reverse">
                            {{post.title }}
                      </a>
                    </h3>
                    <p class="text-mute mb20">{{post.modificationDate}} &bull;    by {{post.author}}</p>
                  </div>
                </a>
              </li>
          {% endif %}

          {% if loop.last %}
            </ul>
          </div>
          {% endif %}        
        {% endfor %}
      </div>
    </section>
    <section id="contact-section" class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <form action="index.php?action=mail" method="post" class="probootstrap-form">
              <h3>Formulaire de contact</h3>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="fname">Nom</label>
                    <input type="text" class="form-control" id="fname" name="fname">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lname">Prénom</label>
                    <input type="text" class="form-control" id="lname" name="lname">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
              </div>
              <div class="form-group">
                <label for="subject">Objet</label>
                <input type="text" class="form-control" id="subject" name="subject">
              </div>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea cols="30" rows="10" class="form-control" id="message" name="message"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary" id="submit" name="submit" value="Envoyer">
              </div>
            </form>
          </div>
          <div class="col-md-5 col-md-push-1">
            <h3 class="mt0">Me contacter</h3>
            <ul class="probootstrap-contact-info">
              <li><i class="icon-location2"></i> <span>44 Rue Gustave Scrive</span></li>
              <li><i class="icon-mail"></i><span>deswelle.johan@gmail.com</span></li>
              <li><i class="icon-phone2"></i><span>06 59 69 64 33</span></li>
            </ul>

            {# <h3>Feedback</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p> #}
          </div>
        </div>
      </div>
    </section>
{% endblock %}