{# {% extends "template.html.twig" %} #}
{% extends "base.html.twig" %}

{% block title %}Blog{% endblock %}
{% block content %}
<section id="next-section" class="probootstrap-section">



<div class="container">
<h1 style="color: #17a2b8;">Liste des billets du blog</h1>
    <div class="row mb40">
        {% for post in posts %}
                <div class="probootstrap-hentry mb30" style="border-style: groove; border-color:  padding: 10px" >
                        {# <a href="#">
                            <img src="img/work_1.jpg" 
                            alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
                        </a> #}
                    <h2 class="mt0">
                        <a href="index.php?action=post&amp;id={{post.id}}" class="hover-reverse">
                            {{post.title }}
                        </a>
                    </h2>
                    <h3 class="mt0">{{post.kicker }}</h3>
                    <p class="text-mute">{{post.modificationDate}} &bull; by {{post.author}}</p>
                </div>
        {% endfor %}
    </div>
</div>
</section>

{% endblock %}