{# {% extends "template.html.twig" %} #}
{% extends "base.html.twig" %}

{% block title %}Mon blog {% endblock %}

{% block content %}
{# <section id="next-section" class="probootstrap-section">
    <div class="container">
		<div class="row mb50 probootstrap-animate">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<h3 class="mt0">Control about the blind texts it is an almost unorthographic life</h3>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
				<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
				<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
			</div>
			<div class="col-md-6">
				<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
				<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
			</div>
		</div>
	</div>
</section> #}

<section id="next-section" class="probootstrap-section">
    <div class="container">
		<div class="row mb50 probootstrap-animate">
			<a href="index.php">Retour à la liste des billets</a>
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<h3 class="mt0">{{post.title}}</h3>
						<em>le {{post.dateCreation}}</em>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				{{post.content}}
			</div>
		</div>
		<div class="row mb50 probootstrap-animate">
			<div class="col-md-6">
				<h3 class="mt-0">Commentaires</h3>
				{% for comment in comments %}
					<p>
						<strong>{{comment.author}}</strong> le {{comment.commentDate}} 
						(<a href="index.php?action=edit&amp;id={{comment.id}}&amp;post_id={{comment.postId}}">
						modifier</a>)
					</p>
					<p>{{comment.comment}}</p>
				{% endfor %}
			</div>
			{% if isConnected() %}
			<form action="index.php?action=addComment&amp;id={{post.id}}" method="post">
    			<div class="form-group">
        			<label for="author">Auteur</label><br />
        			<input type="text" id="author" name="author" required />
    			</div>
    			<div class="form-group">
        			<label for="comment">Commentaire</label><br />
        			<textarea id="comment" name="comment" cols="100" rows="15" required></textarea>
    			</div>
    			<div class="form-group">
        			<input type="submit" />
    			</div>
			</form>
			{% endif %}
		</div>
	</div>
</section>
	
	
{% endblock %}
